<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrik-to-fit=no" >
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css' )  }}>
    <script src={{ url_for('static', filename='js/bootstrap.min.js' )  }}></script>
    <link rel="shortcut icon" href={{ url_for('static', filename='img/favicon.ico' )  }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css' )  }}>
    <script src={{ url_for('static', filename='js/popper.min.js' )  }}></script>    
    <script src={{ url_for('static', filename='js/jquery-3.5.1.min.js' )  }}></script>   
    <title>{{ title }}</title>
    {% block head %}
  
    {% endblock head %}
</head>
<body class="container-fluid">
    <header class='navbar'>
        {% block header %}
            <a href="/" class="logo-small">
                <img src={{ url_for('static', filename='img/logo.png' )  }} class="logo-small" alt="">
            </a>
            
            <div class="container page-header col">
              <h1 class="text-center col">{{header_title}}</h1>
            </div>
            <div>
              {% if user == None %}
                <a href="\login" class='col btn btn-secondary'>Login/Register</a>
              {% endif %}
              {% if not user == None %}
                <div class="col">
                    <a class="btn btn-outline-secondary" href="/">
                        <img src={{ url_for('static', filename='img/avatar.png')}}, alt=''>
                        <sub>
                            {{ user }}
                        </sub>
                    </a>
                </div>
              {% endif %}
            </div>
        {% endblock header %}
  </header>

    <div class="content container-fluid">
        {% block body %}

        {% endblock body %}
    </div>
    
    <footer class='container-fluid'>
        {% block footer %}
        
        {% endblock footer %}
    </footer>

</body>