<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href={{ url_for('static', filename='img/favicon.ico' )  }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css' )  }}>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrik-to-fit=no" >
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css' )  }}>
    <script src={{ url_for('static', filename='js/bootstrap.min.js' )  }}></script>    
    <script src={{ url_for('static', filename='js/popper.min.js' )  }}></script>    
    <script src={{ url_for('static', filename='js/jquery-3.5.1.min.js' )  }}></script>    
    <title>Login/Register</title>
</head>

<body class="container login-page">
    
    {% if warning %}
        <div class='alert alert-warning alert-dismissable'>
            Incorrect Credentials, Try Again. 
        </div>
    {% endif %}
    
    <header class="navbar">       
            <img src={{ url_for('static', filename='img/logo.png' )  }} class="logo-medium center" alt="">
        </div>
    </header>
    
    <!-- TODO interchange between login and register -->

    <div class="login-box center w-50">
        <h1 style="width: 70%; margin: auto;", class="text-center">Login or Register</h1>
        
        <form method="POST" action=''>
            <div class="form-group w-75 center"> 
                <label for="username" class="sr-only">Username</label>
                <input type="text" id='username' name='username' class="form-control" placeholder="Username">
            </div>
            <div class="form-group w-75 center"> 
                <label for="password" class="sr-only">Password</label>
                <input type="password" id='password' name='password' class="form-control" placeholder="Password">
            </div>
            <div class="form-group w-75 center"> 
                <input type="submit" name='submit' class="btn btn-primary btn-block " value='Login'>
                <input type="submit" name='submit' class="btn btn-warning btn-block " value='Register'>
            </div>        
        </form>
    </div>    
    <footer class='container'>
               
        
    </footer>

</body>