{% extends "index.html" %}

{% block header %}

<nav class="nav toolbar navbar-expand-lg navbar-dark bg-dark">
    
    
    <li class="navbar-brand" style="margin: 3px;">
        <img src={{ url_for('static', filename='img/logo.png' )  }} class="logo-small" alt="">
    </li>
    
    <div class="collapse navbar-collapse text-white">
        <ul class='navbar-nav mr-auto'>
            <li class="nav-item" >
                <a class="nav-link " href="/manage/users">Usuarios</a>
            </li>
            
            <li class="nav-item" >
                <a class="nav-link " href="/manage/services">Serivcios</a>
            </li>
            
        </ul>

        <ul class='navbar-nav mr-auto'>
            <li class="nav-item justify-content-around"> 
                <h1 class="text-center text-white center">{{header_title}}</h1>
            </li>
        </ul>

        {% if login == False%}
            <li class="nav-item my-2 my-lg-0" style="margin: 3px;">
                <a class="nav-link btn btn-outline-secondary" href="/login">Login/Register</a>
            </li>
        {% endif %}
        {% if login == True %}
            <li class="nav-item my-2 my-lg-0" style="margin: 3px;">
                <img src={{ url_for('static', filename='img/avatar.png' )  }} class="logo-small" alt={{ user }}>
                <!-- <a class="nav-link btn btn-outline-secondary" href="/login">Login/Register</a> -->
            </li>
        {% endif %}
        
    </div>

</nav>

{% endblock header %}
  
{% block body %}
    
    <div class="container-fluid row">
        <table class="col" style="margin: 5px; width:fit-content">
            <tbody class="table table-responsive table-active bg-dark text-light text-white">
                {% for i in data %}
                <tr class="table text-white">
                    {% for j in i %}
                    <td class="manage-item">
                        {{j}}
                    </td>
                    {% endfor %}
                    <td class='table text-white table-hover'>
                        <!-- TODO make this select the entry to edit it -->
                        <a class='btn btn-outline-secondary' href='/edit/{{property}}/{{i[0]}}'>
                            edit 
                        </a>
                    </td>
                    <td class='table text-white table-hover'>
                        <!-- TODO make this a post request -->
                        <a class='btn btn-outline-secondary' href='/delete/{{property}}/{{i[0]}}'>
                            delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- TODO make access name a dropdown -->
        <div class="col container">
            {% if  property == 'users' %}
                <form method="POST" class="form form-edit-entry" >
                    <input type="text" class="form-control" id='name' name="name" value={{selected.name}}>
                    <input type="text" class="form-control" id='password' name="password"  value={{selected.pwd}}>
                    <input type="hidden" class="hidden-id" id='id' name="id" value={{selected.id}}>
                    <select class="form-control dropdown" id='access_name' name='access_name'>
                        {% for i in user_categories %}
                            {% if i == selected.access_name %}
                                <option class="active" selected>{{i}}</option>
                            {% endif %}
                            {% if not i == selected.access_name %}
                                <option>{{i}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" class="form-contol" id='sumbit' name="submit-user" value="Create">
                    <input type="submit" class="form-contol" id='sumbit' name="save-user" value="Save">
                </form>
            {% endif %}
            {% if  property == 'services' %}
                <form method="POST" class="form form-add-entry" >
                    <input type="text" class="form-control" id='name' name="name" value={{selected.name}}>
                    <input type="text" class="form-control" id='port' name="port" value={{selected.port}}>
                    <input type="hidden" class="hidden-id" id='id' name="id" value={{selected.id}}>
                    <select class="form-control dropdown" id='access_name' name='access_name'>
                        {% for i in user_categories %}
                           {% if i == selected.access_name %}
                                <option class="active" selected>{{i}}</option>
                            {% endif %}
                            {% if not i == selected.access_name %}
                                <option>{{i}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" class="form-contol" id='sumbit' name="submit-service" value="Create">
                    <input type="submit" class="form-contol" id='sumbit' name="submit-service" value="Save">
                </form>
            {% endif %}
            
        </div>
    </div>



{% endblock body %}