{% extends "index.html" %}

{% block header %}
  <div class="center header-title">
    <img src={{ url_for('static', filename='img/logo.png' )  }} class="logo-debug center" alt="">
    <h1 class="page-title center-text">{{header_title}}</h1>
  </div>
{% endblock header %}

{% block body %}
  <h1 class="center-text">{{ content }}</h1>
  <h2 class="paragraph center-text">{{paragraph}}</h2>
  
  <div class='blank-space center'>
    <img src={{ url_for('static', filename='img/logo.png' )  }} class="center" style="height: inherit; width: auto; margin:auto" alt="">  
  </div>
  <div class="center services">

    {% for name,path in services%}
    
    <div class='service-card'>
    
      <img src={{path}} alt={{name}} class="service-photo">
      <h3 class="service-name">{{name}}</h3>
    
    </div>

    {% endfor %}
  
  </div>
{% endblock body %}